In [1]:
# Task - Question 2
# Write the code to find unique Name in above table

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data['Name'].unique()

array(['DeRusha, Joe', 'De Pasquale, Richard', 'Dobbert, Susan',
       'Dunton, Donna', 'De Sousa, Kristi', 'Dillard, Susan',
       'De Vries, John', 'Defonso, Daniel'], dtype=object)