In [1]:
# Task - Question 3
# Write the code to find top 3 sales with Name and Department

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data.nlargest(3, 'Sales')[['Name', 'Department', 'Sales']]

                Name          Department   Sales
12   Defonso, Daniel      5264-ARD Sales  450000
7   De Sousa, Kristi  5263-Sales Support  400000
11  De Sousa, Kristi  5263-Sales Support  400000